<!DOCTYPE html>
<html lang="en"
      xmlns:th="http:/>/www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="stile.css">

</head>
<body>

<div class="container-fluid p-5">
    <h1>Home Page</h1><br>
    <div id="menuHome">
        <div id="rowHome" class="row">
            <div id="colHome1" class="col-md-6">
                <button name="registrazione" onclick="location.href='/register'">Registrazione</button>
            </div>

            <div id="colHome2" class="col-md-6">
                <button name="login" onclick="location.href='/login'">Login</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>