li {
  display: inline-block;
}

.clickable:hover{
  cursor: pointer;
  color: cornflowerblue;
}

.personaSelezionata {
  color: blue;
  font-weight: bold;
}

table{
  border-collapse: collapse;
  width: fit-content;
  margin: auto;
}

td, th{
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}

#Linea{
  margin-bottom: 0px;
  margin-top: 0px;
}

#Percorsi{
  border: 1px solid #ddd;
  width: fit-content;
  margin: auto;
}
