<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Sezione admin</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group (selectedTabChange)="AzzeraContatore($event)">
      <mat-tab label="Gestione admin">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Gestione admin</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="col-md-6 offset-md-3">
              <form [formGroup]="promuoviUserForm" (ngSubmit)="onSubmitPromuovi()">
                <div class="form-group">
                  <mat-label>Utente</mat-label>
                  <mat-select formControlName="username" class="form-control"
                              [ngClass]="{ 'is-invalid': (username_blur && this.promuoviUserForm.controls.username.errors) || (submitted0 && this.promuoviUserForm.controls.username.errors)}"
                              (blur)="onBlur(0)">
                    <mat-option class="clickable" *ngFor="let u of utenti" value="{{u.username}}">
                      {{u.username}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="this.promuoviUserForm.controls.username.errors" class="invalid-feedback">
                    <div *ngIf="this.promuoviUserForm.controls.username.errors.required">Email is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <mat-label>Linea</mat-label>
                  <mat-select formControlName="linea" class="form-control"
                              [ngClass]="{ 'is-invalid': (linea_blur && this.promuoviUserForm.controls.linea.errors) || (submitted0 && this.promuoviUserForm.controls.linea.errors)}"
                              (blur)="onBlur(1)">
                    <mat-option class="clickable" *ngFor="let l of nomiLinee" value="{{l.nome}}">
                      {{l.nome}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="this.promuoviUserForm.controls.linea.errors" class="invalid-feedback">
                    <div *ngIf="this.promuoviUserForm.controls.linea.errors.required">Linea is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <mat-label>Promuovi/Declassa</mat-label>
                  <mat-select formControlName="azione" class="form-control"
                              [ngClass]="{ 'is-invalid': (azione_blur && this.promuoviUserForm.controls.azione.errors) || (submitted0 && this.promuoviUserForm.controls.azione.errors)}"
                              (blur)="onBlur(2)">
                    <mat-option class="clickable" value="Promuovi">Promuovi</mat-option>
                    <mat-option class="clickable" value="Declassa">Declassa</mat-option>
                  </mat-select>
                  <div *ngIf="this.promuoviUserForm.controls.azione.errors" class="invalid-feedback">
                    <div *ngIf="this.promuoviUserForm.controls.azione.errors.required">Azione is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary">Esegui</button>
                </div>
              </form>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Gestione accompagnatori">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Gestione accompagnatori</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="col-md-6 offset-md-3">
              <form [formGroup]="trovaDisponibilitaForm" (ngSubmit)="onSubmitTrovaDisponibilita()">
                <div class="form-group">
                  <mat-label>Linea</mat-label>
                  <mat-select formControlName="linea" class="form-control" (click)="consolidaTurnoReset()"
                              [ngClass]="{ 'is-invalid': (linea2_blur && this.trovaDisponibilitaForm.controls.linea.errors) || (submitted1 && this.trovaDisponibilitaForm.controls.linea.errors)}"
                              (blur)="onBlur(3)">
                    <mat-option class="clickable" *ngFor="let l of nomiLinee" value="{{l.nome}}">
                      {{l.nome}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="this.trovaDisponibilitaForm.controls.linea.errors" class="invalid-feedback">
                    <div *ngIf="this.trovaDisponibilitaForm.controls.linea.errors.required">Linea is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <mat-label>Data</mat-label>
                  <input type="date" formControlName="data" class="form-control" (click)="consolidaTurnoReset()"
                         [ngClass]="{ 'is-invalid': (data_blur && this.trovaDisponibilitaForm.controls.data.errors) || (submitted1 && this.trovaDisponibilitaForm.controls.data.errors)}"
                         (blur)="onBlur(4)">
                  <div *ngIf="this.trovaDisponibilitaForm.controls.data.errors" class="invalid-feedback">
                    <div *ngIf="this.trovaDisponibilitaForm.controls.data.errors.required">Data is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <mat-label>Andata/Ritorno</mat-label>
                  <mat-select formControlName="verso" class="form-control" (click)="consolidaTurnoReset()"
                              [ngClass]="{ 'is-invalid': (verso_blur && this.trovaDisponibilitaForm.controls.verso.errors) || (submitted1 && this.trovaDisponibilitaForm.controls.verso.errors)}"
                              (blur)="onBlur(5)">
                    <mat-option class="clickable" value="Andata">Andata</mat-option>
                    <mat-option class="clickable" value="Ritorno">Ritorno</mat-option>
                  </mat-select>
                  <div *ngIf="this.trovaDisponibilitaForm.controls.verso.errors" class="invalid-feedback">
                    <div *ngIf="this.trovaDisponibilitaForm.controls.verso.errors.required">Verso is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary">Trova disponibilità</button>
                </div>
              </form>
              <form [formGroup]="consolidaTurnoForm" (ngSubmit)="onSubmitConsolidaTurno()">
                <div class="form-group">
                  <mat-label>Disponibilità</mat-label>
                  <mat-select formControlName="username" class="form-control"
                              [ngClass]="{ 'is-invalid': (username2_blur && this.consolidaTurnoForm.controls.username.errors) || (submitted2 && this.consolidaTurnoForm.controls.username.errors)}"
                              (blur)="onBlur(6)">
                    <mat-option class="clickable" *ngFor="let d of disponibilita" value="{{d.username}}">
                      {{d.username}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="this.consolidaTurnoForm.controls.username.errors" class="invalid-feedback">
                    <div *ngIf="this.consolidaTurnoForm.controls.username.errors.required">Disponibilità is required
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary">Consolida turno</button>
                </div>
              </form>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Sezioni">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Sezioni</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="sezioni">
              <div>
                <button class="btn btn-primary" (click)="logout($event)">Logout</button>
                <br><br></div>
              <div>
                <button class="btn btn-primary">Cambia Password</button>
                <br><br></div>
              <div *ngIf="checkSystemAdmin">
                <button class="btn btn-primary" (click)="pulisciDatabase()">Pulisci Database</button>
              <br><br></div>
              <div>
                <button class="btn btn-primary" (click)="cambiaSezione('simpleuser')">Genitore</button>
                <br><br></div>
              <div *ngIf="checkAccompagnatore">
                <button class="btn btn-primary" (click)="cambiaSezione('attendance')">Accompagnatore</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Comunicazioni {{ notifica?.count }}">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Comunicazioni</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="comunicazioni">
              <ul mat-line>
                <div *ngFor="let n of notifications let ind = index">
                  <div *ngIf="n?.tipo==1">
                    <div>{{ n?.msg }} per data {{n?.data}}, linea {{n?.linea}}, verso {{n?.verso}}
                      <button class="btn btn-primary btn-sm" id="myBtn{{ind}}" style="width:10%; font-size: 8px; margin-right:3%; float:right" (click)="presavisione($event,n.data,n.verso,n.utente, ind)">Conferma</button>
                    </div>

                  </div>
                  <div *ngIf="n?.tipo==2">
                    <div>{{ n?.msg }} L'utente {{n?.utente}} ha preso visione del suo turno in data {{n?.data}},
                      linea {{n?.linea}}, verso {{n?.verso}}
                    </div>
                  </div>
                  <div *ngIf="n?.tipo==3">
                    <div>{{ n?.msg }} del bambino {{n?.utente}} per la data {{n?.data}}, linea {{n?.linea}},
                      verso {{n?.verso}}
                    </div>
                  </div>
                </div>
              </ul>
              <div class="sezioni"><button class="btn btn-primary" (click)="cancellaNotifiche($event)">Cancella Notifiche</button></div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
