<!--The content below is only a placeholder and can be replaced.-->
<nav id="router">
  <a routerLink="/login">Login</a><br>
  <a routerLink="/register">Registrazione</a><br>
  <a routerLink="/attendance">Accompagnatore</a><br>
  <a routerLink="/simpleuser">Genitore</a><br>
  <a routerLink="/admin">Admin</a>
</nav>
<alert></alert>
<router-outlet></router-outlet>


<!-- Ciò che viene scritto qui, fuori da router-outlet, sarà in comune per tutti i component -->
<!-- <li *ngFor="let linea of linee">{{linea.nome}}</li> -->
