<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>


<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Sezione accompagnatore</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group (selectedTabChange)="AzzeraContatore($event)">
      <mat-tab label="Gestione presenze">
        <mat-card>
          <mat-card-header>
            <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-right: auto;">
              <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let linea of nomiLinee; let l = index"
                      (click)="selezionaLineaMenu(l)">{{nomiLinee[l].nome}}</button>
            </mat-menu>
            <mat-card-title-group>
              <mat-card-title>Linea:  {{nomiLinee[lineaSelezionataMenu].nome}}</mat-card-title>
              <mat-card-subtitle>{{corse[this.pageIndex].data}}&nbsp;
                <mat-icon class="clickable" (click)="OnClickOpenForm()">event</mat-icon>&nbsp;
                <div *ngIf="openDateForm"><input type="date" [(ngModel)]="data" (change)="selezionaCorsaCalendario()">
                </div>
              </mat-card-subtitle>
            </mat-card-title-group>
            <mat-paginator style="margin-left: auto;"
                           [length]="length"
                           [pageSize]="pageSize"
                           [hidePageSize]="true"
                           [pageIndex]="pageIndex"
                           (page)="selezionaCorsaPaginator($event)">
            </mat-paginator>
          </mat-card-header>
          <mat-card-content>
            <mat-tab-group>
              <mat-tab label="Andata">
                <mat-menu #downloadMenuAndata="matMenu">
                  <button mat-menu-item class="clickable" (click)="downloadJSONpresenze('json', 0)">JSON</button>
                  <button mat-menu-item class="clickable" (click)="downloadJSONpresenze('csv', 0)">CSV</button>
                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="downloadMenuAndata" class="downloadPresenze">
                  <mat-icon>save_alt</mat-icon>
                </button>
                <mat-list>
                  <mat-list-item *ngFor="let fermata of tratte.fermateA; let f = index; let last = last">
                    <h3 mat-line>
                      <mat-icon>my_location
                      </mat-icon>&#9;{{f + 1}}&#176;&#8594;&#9;{{fermata.ora}}&nbsp;&#45;&nbsp;{{fermata.nome}}
                    </h3>
                    <ul mat-line>
                      <li class="clickable"
                          *ngFor="let persona of personeOrdinateByNome(0,f); let p=index, let last = last">
                        <p (click)="clickPersona($event,0,f,p)"
                           [ngClass]="selezionaPersona(0,f,p)">{{persona.nome}}&nbsp;{{persona.cognome}}&nbsp;{{persona.id_bambino}}{{last ? '' : ',&nbsp;'}}</p>
                      </li>
                    </ul>
                  </mat-list-item>
                </mat-list>
                <mat-form-field class="listaBambini">
                  <mat-label>Bambini</mat-label>
                  <mat-select>
                    <mat-option class="clickable" *ngFor="let b of bambini"
                                (click)="inserisciBambinoNonPrenotato($event,b.id_bambino,nomiLinee[lineaSelezionataMenu].nome,tratte.fermateA[0].id_fermata,0,corse[pageIndex].data)">
                      {{b.id_bambino}}&nbsp;-&nbsp;{{b.nome}}&nbsp;{{b.cognome}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-tab>
              <mat-tab label="Ritorno">
                <mat-menu #downloadMenuRitorno="matMenu">
                  <button mat-menu-item class="clickable" (click)="downloadJSONpresenze('json', 1)">JSON</button>
                  <button mat-menu-item class="clickable" (click)="downloadJSONpresenze('csv', 1)">CSV</button>
                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="downloadMenuRitorno" class="downloadPresenze">
                  <mat-icon>save_alt</mat-icon>
                </button>
                <mat-list>
                  <mat-list-item *ngFor="let fermata of tratte.fermateR; let f = index">
                    <h3 mat-line>
                      <mat-icon>my_location
                      </mat-icon>&#9;{{f + 1}}&#176;&#8594;&#9;{{fermata.ora}}&nbsp;&#45;&nbsp;{{fermata.nome}}
                    </h3>
                    <ul mat-line>
                      <li class="clickable"
                          *ngFor="let persona of personeOrdinateByNome(1,f); let p=index; let last = last">
                        <p (click)="clickPersona($event,1,f,p)"
                           [ngClass]="selezionaPersona(1,f,p)">{{persona.nome}}&nbsp;{{persona.cognome}}&nbsp;{{persona.id_bambino}}{{last ? '' : ',&nbsp;'}}</p>
                      </li>
                    </ul>
                  </mat-list-item>
                </mat-list>
                <mat-form-field class="listaBambini">
                  <mat-label>Bambini</mat-label>
                  <mat-select>
                    <mat-option class="clickable" *ngFor="let b of bambini"
                                (click)="inserisciBambinoNonPrenotato($event,b.id_bambino,nomiLinee[lineaSelezionataMenu].nome,tratte.fermateR[0].id_fermata,1,corse[pageIndex].data)">
                      {{b.id_bambino}}&nbsp;-&nbsp;{{b.nome}}&nbsp;{{b.cognome}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Sezioni">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Sezioni</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="sezioni">
              <div>
                <button class="btn btn-primary" (click)="logout($event)">Logout</button>
                <br><br></div>
              <div>
                <button class="btn btn-primary">Cambia Password</button>
                <br><br></div>
              <div>
                <button class="btn btn-primary" (click)="cambiaSezione('simpleuser')">Genitore</button>
                <br><br></div>
              <div *ngIf="checkAdmin || checkSystemAdmin">
                <button class="btn btn-primary" (click)="cambiaSezione('Admin')">
                  Admin
                </button>
                <br></div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Comunicazioni {{ notifica?.count }}" >
        <mat-card>
          <mat-card-header>
            <mat-card-title>Comunicazioni</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="comunicazioni">
              <ul mat-line>
                <div *ngFor="let n of notifications">
                  <div *ngIf="n?.tipo==1">
                    <div>{{ n?.msg }} per data {{n?.data}}, linea {{n?.linea}}, verso {{n?.verso}}
                      <button class="btn btn-primary" (click)="presavisione($event,n.data,n.verso,n.utente)">Conferma</button>
                    </div>

                  </div>
                  <div *ngIf="n?.tipo==2">
                    <div>{{ n?.msg }} per data {{n?.data}}, linea {{n?.linea}}, verso {{n?.verso}}
                    </div>
                  </div>
                </div>
              </ul>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>






