<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pedibus</title>
</head>
<body>

<div style="text-align: center">
  <h1>Pedibus</h1>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Benvenuto nel servizio pedibus!</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    Trasporto scolastico gratuito per i vostri bambini.<br>
    A piedi ci si diverte di più e si inquina di meno!<br><br>
    <br><button class="btn btn-primary btn-sm" (click)="Login($event)">Login</button><br><br>
    <button class="btn btn-primary btn-sm" (click)="Registrazione($event)">Registrazione</button>
    <img src="assets/pedibus.jpg" width="50%" height="50%" alt="Immagine Pedibus" style="margin-left: 50%">
  </mat-card-content>
</mat-card>
</body>
</html>
