mat-card{
  width: 650px;
  margin: auto;
}

::ng-deep .mat-line{
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

::ng-deep  .mat-list .mat-list-item{
  height:initial!important;
}

.btn-primary{
  border: 1px black;
  width: 30%;
}

mat-card-content{
  margin-left: 5%;
}
