<div *ngIf="checkRuoli?.checkUser">
<div style="text-align:center">
  <h1>
    {{ title }}

  </h1>
</div>
<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Sezione genitore</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group (selectedTabChange)="AzzeraContatore($event)">
      <mat-tab label="Prenotazioni corse">
        <mat-card>
          <mat-card-header>
            <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-right: auto;">
              <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let linea of nomiLinee; let l = index"
                      (click)="selezionaLineaMenu(l)">{{nomiLinee[l].nome}}</button>
            </mat-menu>
            <mat-card-title-group>
              <mat-card-title>Linea:  {{nomiLinee[lineaSelezionataMenu]?.nome}}</mat-card-title>
              <mat-card-subtitle>{{corse[this.pageIndex]?.data}}&nbsp;
                <mat-icon class="clickable" (click)="OnClickOpenForm()">event</mat-icon>&nbsp;
                <div *ngIf="openDateForm"><input type="date" [(ngModel)]="data" (change)="selezionaCorsaCalendario()">
                </div>
              </mat-card-subtitle>
            </mat-card-title-group>
            <mat-paginator style="margin-left: auto;"
                           [length]="length"
                           [pageSize]="pageSize"
                           [hidePageSize]="true"
                           [pageIndex]="pageIndex"
                           (page)="selezionaCorsaPaginator($event)">
            </mat-paginator>
          </mat-card-header>
          <mat-card-content>
            <mat-tab-group>
              <mat-tab label="Andata">
                <mat-list>
                  <mat-list-item *ngFor="let fermata of tratte?.fermateA; let f = index; let last = last">
                    <h3 mat-line>
                      <mat-icon>my_location
                      </mat-icon>&#9;{{f + 1}}&#176;&#8594;&#9;{{fermata.ora}}&nbsp;&#45;&nbsp;{{fermata.nome}}
                      <button mat-icon-button [matMenuTriggerFor]="listaBambini">
                        <mat-icon>person_add</mat-icon>
                      </button>
                      <mat-menu #listaBambini="matMenu">
                        <button mat-menu-item *ngFor="let figlio of figli; let b = index"
                                (click)="inserisciFiglio($event,figlio.id_bambino,nomiLinee[lineaSelezionataMenu].nome,tratte.fermateA[f].id_fermata,0,corse[pageIndex].data,tratte.fermateA[f].ora)">
                          {{figlio.nome}}
                        </button>
                      </mat-menu>
                    </h3>
                    <ul mat-line>
                      <li class="clickableRimozione"
                          *ngFor="let persona of personeOrdinateByNome(0,f); let p=index, let last = last">
                        <p
                          (click)="rimuoviPrenotazione($event,nomiLinee[lineaSelezionataMenu].nome,corse[this.pageIndex].data,persona.id_bambino,tratte.fermateA[f].id_fermata,0)">{{persona.nome}}&nbsp;{{persona.cognome}} {{persona.id_bambino}}{{last ? '' : ',&nbsp;'}}</p>
                      </li>
                    </ul>
                  </mat-list-item>
                </mat-list>
              </mat-tab>
              <mat-tab label="Ritorno">
                <mat-list>
                  <mat-list-item *ngFor="let fermata of tratte?.fermateR; let f = index">
                    <h3 mat-line>
                      <mat-icon>my_location
                      </mat-icon>&#9;{{f + 1}}&#176;&#8594;&#9;{{fermata.ora}}&nbsp;&#45;&nbsp;{{fermata.nome}}
                      <button mat-icon-button [matMenuTriggerFor]="listaBambini">
                        <mat-icon>person_add</mat-icon>
                      </button>
                      <mat-menu #listaBambini="matMenu">
                        <button mat-menu-item *ngFor="let figlio of figli; let b = index"
                                (click)="inserisciFiglio($event,figlio.id_bambino,nomiLinee[lineaSelezionataMenu].nome,tratte.fermateR[f].id_fermata,1,corse[pageIndex].data,tratte.fermateR[f].ora)">
                          {{figlio.nome}}
                        </button>
                      </mat-menu>
                    </h3>
                    <ul mat-line>
                      <li class="clickableRimozione"
                          *ngFor="let persona of personeOrdinateByNome(1,f); let p=index; let last = last">
                        <p
                          (click)="rimuoviPrenotazione($event,nomiLinee[lineaSelezionataMenu].nome,corse[this.pageIndex].data,persona.id_bambino,tratte.fermateR[f].id_fermata,1)">{{persona.nome}}&nbsp;{{persona.cognome}}&nbsp;{{persona.id_bambino}}{{last ? '' : ',&nbsp;'}}</p>
                      </li>
                    </ul>
                  </mat-list-item>
                </mat-list>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Aggiungi Bambino">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Aggiungi bambino</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="col-md-6 offset-md-3">
              <form [formGroup]="aggiungiBambinoForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label>Nome</label>
                  <input type="text" formControlName="nome" class="form-control"
                         [ngClass]="{ 'is-invalid': (nome_blur && this.aggiungiBambinoForm.controls.nome.errors) || (submitted0 && this.aggiungiBambinoForm.controls.nome.errors)}"
                         (blur)="onBlur(0)"/>
                  <div
                    *ngIf="this.aggiungiBambinoForm.controls.nome.errors"
                    class="invalid-feedback">
                    <div *ngIf="this.aggiungiBambinoForm.controls.nome.errors.required">Nome is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Cognome</label>
                  <input type="text" formControlName="cognome" class="form-control"
                         [ngClass]="{ 'is-invalid': (cognome_blur && this.aggiungiBambinoForm.controls.cognome.errors)|| (submitted0 && this.aggiungiBambinoForm.controls.cognome.errors) }"
                         (blur)="onBlur(1)"/>
                  <div *ngIf="this.aggiungiBambinoForm.controls.cognome.errors"
                       class="invalid-feedback">
                    <div *ngIf="this.aggiungiBambinoForm.controls.cognome.errors.required">Cognome is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary">Aggiungi</button>
                </div>
              </form>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Candidati accompagnatore">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Candidati accompagnatore</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="col-md-6 offset-md-3">
              <form [formGroup]="candidatiAccompagnatoreForm" (ngSubmit)="onSubmitAccompagnatore()">
                <div class="form-group">
                  <mat-label>Linea</mat-label>
                  <mat-select formControlName="linea" class="form-control"
                              [ngClass]="{ 'is-invalid': (linea_blur && this.candidatiAccompagnatoreForm.controls.linea.errors) || (submitted1 && this.candidatiAccompagnatoreForm.controls.linea.errors) }"
                              (blur)="onBlur(2)">
                    <mat-option class="clickable" *ngFor="let l of nomiLinee" value="{{l.nome}}">
                      {{l.nome}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="this.candidatiAccompagnatoreForm.controls.linea.errors"
                       class="invalid-feedback">
                    <div *ngIf="this.candidatiAccompagnatoreForm.controls.linea.errors.required">Linea is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <mat-label>Data</mat-label>
                  <input type="date" formControlName="data" class="form-control"
                         [ngClass]="{ 'is-invalid': (data_blur && this.candidatiAccompagnatoreForm.controls.data.errors) || (submitted1 && this.candidatiAccompagnatoreForm.controls.data.errors) }"
                         (blur)="onBlur(3)">
                  <div *ngIf="this.candidatiAccompagnatoreForm.controls.data.errors"
                       class="invalid-feedback">
                    <div *ngIf="this.candidatiAccompagnatoreForm.controls.data.errors.required">Data is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <mat-label>Andata/Ritorno</mat-label>
                  <mat-select formControlName="verso" class="form-control"
                              [ngClass]="{ 'is-invalid': (verso_blur && this.candidatiAccompagnatoreForm.controls.verso.errors) || (submitted1 && this.candidatiAccompagnatoreForm.controls.verso.errors) }"
                              (blur)="onBlur(4)">
                    <mat-option class="clickable" value="Andata">Andata</mat-option>
                    <mat-option class="clickable" value="Ritorno">Ritorno</mat-option>
                  </mat-select>
                  <div *ngIf="this.candidatiAccompagnatoreForm.controls.verso.errors"
                       class="invalid-feedback">
                    <div *ngIf="this.candidatiAccompagnatoreForm.controls.verso.errors.required">Verso is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary">Candidati</button>
                </div>
              </form>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Sezioni">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Sezioni</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="sezioni">
              <div>
                <button class="btn btn-primary" (click)="logout($event)">Logout</button>
                <br><br></div>
              <div>
                <button class="btn btn-primary" (click)="open(content)">Cambia Password</button>
                <br><br></div>
              <div *ngIf="checkRuoli.checkAccompagnatore">
                <button class="btn btn-primary" (click)="cambiaSezione('attendance')">Accompagnatore</button>
                <br><br></div>
              <div *ngIf="checkRuoli.checkAdmin || checkRuoli.checkSystemAdmin">
                <button class="btn btn-primary" (click)="cambiaSezione('admin')">Admin</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Comunicazioni {{ notifica?.count }}">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Comunicazioni</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="comunicazioni">
              <ul mat-line>
                <div *ngFor="let n of notifications let ind = index">
                  <div *ngIf="n?.tipo==1">
                    <div>{{ n?.msg }} per data {{n?.data}}, linea {{n?.linea}}, verso {{n?.verso}}
                      <button class="btn btn-primary btn-sm" id="myBtn{{ind}}" style="width:10%; font-size: 8px; margin-right:3%; float:right" (click)="presavisione($event,n.data,n.verso,n.utente, ind)">Conferma</button>
                    </div>

                  </div>
                  <div *ngIf="n?.tipo==2">
                    <div>{{ n?.msg }} L'utente {{n?.utente}} ha preso visione del suo turno in data {{n?.data}}, linea {{n?.linea}}, verso {{n?.verso}}
                    </div>
                  </div>
                  <div *ngIf="n?.tipo==3">
                    <div>{{ n?.msg }} del bambino {{n?.utente}} per la data {{n?.data}}, linea {{n?.linea}}, verso {{n?.verso}}
                    </div>
                  </div>
                  <div *ngIf="n?.tipo==4">
                    <div>{{ n?.msg }} L'utente {{n?.utente}} ha cancellato il suo turno programmato per la data {{n?.data}}, linea {{n?.linea}}, verso {{n?.verso}}
                    </div>
                  </div>
                </div>
              </ul>
              <div class="sezioni"><button class="btn btn-primary" (click)="cancellaNotifiche($event)">Cancella Notifiche</button></div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cambia Password</h4>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <alert></alert>
    <div  class="errorMessage">
      <p> {{messaggio}}</p>
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordSubmit()">
        <div class="form-group">
        <label for="password0">Password Vecchia:</label>
          <input id="password0" formControlName="password0" class="form-control" type="password"
                 [ngClass]="{ 'is-invalid': (submitted2 && changePasswordForm.controls.password0.errors) || (password0_blur && changePasswordForm.controls.password0.errors)}" (blur)="onBlurChangePassword(0)"/>

          <div *ngIf="changePasswordForm.controls.password0.errors" class="invalid-feedback">
            <div *ngIf="changePasswordForm.controls.password0.errors.required">Password richiesta</div>
            <div *ngIf="changePasswordForm.controls.password0.errors.minlength">Inserire almeno 6 caratteri</div>
            <div *ngIf="changePasswordForm.controls.password0.errors.maxlength">Inserire al massimo 12 caratteri</div>
          </div>
        </div>
        <div class="form-group">
        <label for="password1">Password Nuova:</label>
        <input id="password1" formControlName="password1" class="form-control" type="password"
               [ngClass]="{ 'is-invalid': (submitted2 && changePasswordForm.controls.password1.errors) || (password1_blur && changePasswordForm.controls.password1.errors)}" (blur)="onBlurChangePassword(1)"/>

          <div *ngIf="changePasswordForm.controls.password1.errors" class="invalid-feedback">
            <div *ngIf="changePasswordForm.controls.password1.errors.required">Password richiesta</div>
            <div *ngIf="changePasswordForm.controls.password1.errors.minlength">Inserire almeno 6 caratteri</div>
            <div *ngIf="changePasswordForm.controls.password1.errors.maxlength">Inserire al massimo 12 caratteri</div>
          </div>
        </div>
        <div class="form-group">
        <label for="password2">Ripeti Password Nuova:</label>
        <input id="password2" formControlName="password2" class="form-control" type="password"
               [ngClass]="{ 'is-invalid': (submitted2 && changePasswordForm.controls.password2.errors) || (password2_blur && changePasswordForm.controls.password2.errors)}" (blur)="onBlurChangePassword(2)"/>

          <div *ngIf="changePasswordForm.controls.password2.errors" class="invalid-feedback">
            <div *ngIf="changePasswordForm.controls.password2.errors.required">Password richiesta</div>
            <div *ngIf="changePasswordForm.controls.password2.errors.minlength">Inserire almeno 6 caratteri</div>
            <div *ngIf="changePasswordForm.controls.password2.errors.maxlength">Inserire al massimo 12 caratteri</div>
            <div *ngIf="changePasswordForm.controls.password2.errors.mustMatch">Le password devono essere uguali</div>
          </div>
        </div>
      <div class="form-group">
        <button class="btn btn-primary">Cambia Password</button>
      </div>
    </form>
  </div>

</ng-template>
</div>
<div *ngIf="checkRuoli?.checkUser==false">
  <mat-card>
    <mat-card-title>
      Accesso negato!
    </mat-card-title>
    <mat-card-content>
      <button class="btn btn-primary btn-sm" (click)="this.router.navigate(['/simpleuser'])">HomePage</button><br><br>
      <button class="btn btn-primary btn-sm" (click)="logout($event)">Logout</button>
    </mat-card-content>
  </mat-card>
</div>
